In [1]:
import pandas as pd

In [2]:
file_path = "Resources/gl2018.txt"

In [3]:
# Provide column names
# Documentation: https://www.retrosheet.org/gamelogs/glfields.txt
columns = [
    "Date", "Game Number", "Weekday", "Visiting Team", "Visiting League", "Visiting Team Game Number", "Home Team",
    "Home League", "Home Team Game Number", "Visiting Team Score", "Home Team Score", "Length of Game in Outs",
    "Day/Night", "Completion Info", "Forfeit Info", "Protest Info", "Park ID", "Attendance", "Game Time (Minutes)",
    "Visiting Line Score", "Home Line Score", "Visiting At-Bats", "Visiting Hits", "Visiting Doubles", "Visiting Triples",
    "Visiting Homeruns", "Visiting RBI", "Visiting Sacrifice Hits", "Visiting Sacrifice Flies", "Visiting Hit-by-Pitch", 
    "Visiting Walks", "Visiting Intentional Walks", "Visiting Strikeouts", "Visiting Stolen Bases", "Visiting Caught Stealing", 
    "Visiting Grounded into Double Plays", "Visiting Catcher Interference", "Visiting Left on Base", "Visiting Pitchers Used", 
    "Visiting Individual Earned Runs", "Visiting Team Earned Runs", "Visiting Wild Pitches", "Visiting Balks",
    "Visiting Putouts", "Visiting Assists", "Visiting Errors", "Visiting Passed Balls", "Visiting Double Plays", 
    "Visiting Triple Plays", "Home At-Bats", "Home Hits", "Home Doubles", "Home Triples", "Home Homeruns", "Home RBI", 
    "Home sacrifice hits", "Home sacrifice flies", "Home hit-by-pitch", "Home walks", "Home intentional walks", "Home strikeouts", 
    "Home stolen bases", "Home caught stealing", "Home grounded into double plays", "Home catcher interference", "Home left on base", 
    "Home Pitchers Used", "Home Individual earned runs", "Home Team earned runs", "Home wild pitches", "Home balks", "Home putouts", 
    "Home assists", "Home errors", "Home passed balls", "Home double plays", "Home triple plays", "HP Umpire ID", "HP Umpire Name", 
    "1B Umpire ID", "1B Umpire Name", "2B Umpire ID", "2B Umpire Name", "3B Umpire ID", "3B Umpire Name", "LF Umpire ID", 
    "LF Umpire Name", "RF Umpire ID", "RF Umpire Name", "Visiting Manager ID", "Visiting Manager Name", "Home Manager ID", 
    "Home Manager Name", "Winning Pitcher ID", "Winning Pitcher Name", "Losing Pitcher ID", "Losing Pitcher Name", "Saving Pitcher ID",
    "Saving Pitcher Name", "Game Winning RBI ID", "Game Winning RBI Name", "Visiting Starting Pitcher ID", "Visiting Starting Pitcher Name", 
    "Home Starting Pitcher ID", "Home Starting Pitcher Name", "Visiting Starting Player 1 ID", "Visiting Starting Player 1 Name", 
    "Visiting Starting Player 1 Position", "Visiting Starting Player 2 ID", "Visiting Starting Player 2 Name", "Visiting Starting Player 2 Position", 
    "Visiting Starting Player 3 ID", "Visiting Starting Player 3 Name", "Visiting Starting Player 3 Position", "Visiting Starting Player 4 ID", 
    "Visiting Starting Player 4 Name", "Visiting Starting Player 4 Position", "Visiting Starting Player 5 ID", "Visiting Starting Player 5 Name",
    "Visiting Starting Player 5 Position", "Visiting Starting Player 6 ID", "Visiting Starting Player 6 Name", "Visiting Starting Player 6 Position",
    "Visiting Starting Player 7 ID", "Visiting Starting Player 7 Name", "Visiting Starting Player 7 Position", "Visiting Starting Player 8 ID", 
    "Visiting Starting Player 8 Name", "Visiting Starting Player 8 Position", "Visiting Starting Player 9 ID", "Visiting Starting Player 9 Name",
    "Visiting Starting Player 9 Position", "Home Starting Player 1 ID", "Home Starting Player 1 Name", "Home Starting Player 1 Position", 
    "Home Starting Player 2 ID", "Home Starting Player 2 Name", "Home Starting Player 2 Position", "Home Starting Player 3 ID", 
    "Home Starting Player 3 Name", "Home Starting Player 3 Position", "Home Starting Player 4 ID", "Home Starting Player 4 Name", 
    "Home Starting Player 4 Position", "Home Starting Player 5 ID", "Home Starting Player 5 Name", "Home Starting Player 5 Position", 
    "Home Starting Player 6 ID", "Home Starting Player 6 Name", "Home Starting Player 6 Position", "Home Starting Player 7 ID", 
    "Home Starting Player 7 Name", "Home Starting Player 7 Position", "Home Starting Player 8 ID", "Home Starting Player 8 Name", 
    "Home Starting Player 8 Position", "Home Starting Player 9 ID", "Home Starting Player 9 Name", "Home Starting Player 9 Position", 
    "Additional Info", "Acquisition Info"
]

In [4]:
# Read the file amd create list of dictionaries
data = []
with open(file_path, "r") as file:
    for line in file:
        row = line.strip().split(",")
        data.append({column: value.strip('""') for column, value in zip(columns, row)})
        
# Create pandas dataframe
df18 = pd.DataFrame(data)

df18

,Date,Game Number,Weekday,Visiting Team,Visiting League,Visiting Team Game Number,Home Team,Home League,Home Team Game Number,Visiting Team Score,...,Home Starting Player 7 Name,Home Starting Player 7 Position,Home Starting Player 8 ID,Home Starting Player 8 Name,Home Starting Player 8 Position,Home Starting Player 9 ID,Home Starting Player 9 Name,Home Starting Player 9 Position,Additional Info,Acquisition Info
0,20180329,0,Thu,COL,NL,1,ARI,NL,1,2,...,Nick Ahmed,6,dysoj001,Jarrod Dyson,9,corbp001,Patrick Corbin,1,,Y
1,20180329,0,Thu,PHI,NL,1,ATL,NL,1,5,...,Dansby Swanson,6,flahr001,Ryan Flaherty,5,tehej001,Julio Teheran,1,,Y
2,20180329,0,Thu,SFN,NL,1,LAN,NL,1,1,...,Yasmani Grandal,2,forsl001,Logan Forsythe,5,kersc001,Clayton Kershaw,1,,Y
3,20180329,0,Thu,CHN,NL,1,MIA,NL,1,8,...,Miguel Rojas,6,wallc001,Chad Wallach,2,urenj001,Jose Urena,1,,Y
4,20180329,0,Thu,SLN,NL,1,NYN,NL,1,4,...,Kevin Plawecki,2,syndn001,Noah Syndergaard,1,rosaa003,Amed Rosario,6,,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2426,20180930,0,Sun,CHA,AL,162,MIN,AL,162,4,...,Logan Forsythe,4,astuw001,Willians Astudillo,5,gratj001,Juan Graterol,2,,Y
2427,20180930,0,Sun,TEX,AL,162,SEA,AL,162,1,...,Kristopher Negron,4,freid001,David Freitas,2,romia001,Andrew Romine,6,,Y
2428,20180930,0,Sun,TOR,AL,162,TBA,AL,162,4,...,Austin Meadows,9,bauej001,Jake Bauers,3,ciufn001,Nick Ciuffo,2,,Y
2429,20181001,0,Mon,MIL,NL,163,CHN,NL,163,3,...,Jason Heyward,8,quinj001,Jose Quintana,1,contw001,Willson Contreras,2,,Y
2430,20181001,0,Mon,COL,NL,163,LAN,NL,163,2,...,Yasiel Puig,9,herne001,Enrique Hernandez,4,buehw001,Walker Buehler,1,,Y

In [5]:
# Clean and reduce the dataframe to necessary columns
clean_df18 = df18[["Date", "Game Number", "Visiting Team", "Visiting Team Game Number", "Home Team", "Home Team Game Number", "Visiting Team Score", "Home Team Score"]]
clean_df18

,Date,Game Number,Visiting Team,Visiting Team Game Number,Home Team,Home Team Game Number,Visiting Team Score,Home Team Score
0,20180329,0,COL,1,ARI,1,2,8
1,20180329,0,PHI,1,ATL,1,5,8
2,20180329,0,SFN,1,LAN,1,1,0
3,20180329,0,CHN,1,MIA,1,8,4
4,20180329,0,SLN,1,NYN,1,4,9
...,...,...,...,...,...,...,...,...
2426,20180930,0,CHA,162,MIN,162,4,5
2427,20180930,0,TEX,162,SEA,162,1,3
2428,20180930,0,TOR,162,TBA,162,4,9
2429,20181001,0,MIL,163,CHN,163,3,1
2430,20181001,0,COL,163,LAN,163,2,5

In [ ]:
# Initialize Elo ratings
initial_elo = 1500
elo_ratings = {team: initial_elo for team in pd.concat([df["Visiting Team"], df["Home Team"]]).unique()}

# Define k-factor
k_factor = 50

# Define functions to do elo calculations

# Add columns to cleaned Dataframe

# Loop through rows and update elo ratings