In [9]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd

In [10]:
#Create engine using Playoffs.sqlite database file
engine = create_engine("sqlite:///../Playoffs.sqlite")

In [11]:
# Declare a Base using `automap_base()`
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(autoload_with=engine)

In [12]:
#Print the classes mapped to the Base
Base.classes.keys()

['Playoffs']

In [13]:
#Assign the dow class to a variable called 'Playoffs'
Playoffs = Base.classes.Playoffs

In [14]:
#Create a session
session = Session(engine)

In [15]:
first_row = session.query(Playoffs).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x15c1862c0>,
 'Tm': 'Arizona Diamondbacks',
 'GS_y': 162.0,
 'SB': 79.0,
 '#Fld': 49.0,
 'G_x': 162.0,
 'SF': 45.0,
 '#P': 30.0,
 'H9': 8.1,
 'SH': 38.0,
 '2B': 259.0,
 'HBP_x': 52.0,
 'SLG': 0.397,
 '3B': 50.0,
 'HBP_y': 57.0,
 'SO/W': 2.77,
 'A': 1686.0,
 'HR9': 1.1,
 'SO9': 8.9,
 'AB': 5460.0,
 'HR_x': 176.0,
 'SO_x': 1460.0,
 'BA': 0.235,
 'HR_y': 174.0,
 'SO_y': 1448.0,
 'BB9': 3.2,
 'H_x': 1283.0,
 'SV': 39.0,
 'BB_x': 560.0,
 'H_y': 1313.0,
 'TB': 2170.0,
 'BB_y': 522.0,
 'IBB_x': 36.0,
 'WHIP': 1.254,
 'BF': 6139.0,
 'IBB_y': 43.0,
 'WP': 69.0,
 'BK': 5.0,
 'IP': 1463.0,
 'cSho': 1.0,
 'BatAge': 29.2,
 'Inn': 13167.0,
 'tSho': 9.0,
 'CG_x': 1119.0,
 'LOB_x': 1086.0,
 'playoffs': 0,
 'CG_y': 2.0,
 'LOB_y': 1106.0,
 'id': 1,
 'CS': 25.0,
 'OBP': 0.31,
 'Ch': 6150.0,
 'OPS': 0.707,
 'DP': 152.0,
 'OPS+': 86.0,
 'DefEff': 0.698,
 'PA': 6157.0,
 'E': 75.0,
 'PAge': 29.6,
 'ER': 605.0,
 'PO': 4389.0,
 'ERA': 3.72,
 'R/G': 4.28,
 'ERA+': 113.0,
 'RA/G_y': 3.98,
 'G_y': 162.0,
 'RBI': 658.0,
 'FIP': 3.91,
 'R_x': 693.0,
 'Fld%': 0.988,
 'R_y': 644.0,
 'G': 162.0,
 'Rdrs': 125.0,
 'GDP': 110.0,
 'Rdrs/yr': 7.0,
 'GF': 160.0,
 'Rgood': 14.0,
 '#Bat': 49.0,
 'GS_x': 1458.0,
 'Rtot': 28.0,
 'Rtot/yr': 3.0}

In [16]:
data = session.query(Playoffs.BK, Playoffs.CG_y, Playoffs.Ch, Playoffs.GF, Playoffs.SB, Playoffs.cSho, Playoffs.playoffs).all()
data

[(5.0, 2.0, 6150.0, 160.0, 79.0, 1.0, 0),
 (8.0, 2.0, 5889.0, 160.0, 90.0, 1.0, 1),
 (8.0, 2.0, 5934.0, 160.0, 81.0, 0.0, 0),
 (3.0, 2.0, 5819.0, 160.0, 125.0, 0.0, 1),
 (3.0, 1.0, 6208.0, 162.0, 66.0, 0.0, 1),
 (9.0, 0.0, 5856.0, 162.0, 98.0, 0.0, 0),
 (8.0, 1.0, 6026.0, 161.0, 77.0, 0.0, 0),
 (2.0, 5.0, 5808.0, 157.0, 135.0, 2.0, 1),
 (8.0, 0.0, 6055.0, 163.0, 95.0, 0.0, 1),
 (4.0, 0.0, 5799.0, 162.0, 70.0, 0.0, 0),
 (4.0, 3.0, 5797.0, 159.0, 71.0, 2.0, 1),
 (4.0, 2.0, 5902.0, 160.0, 117.0, 0.0, 0),
 (3.0, 1.0, 5890.0, 161.0, 89.0, 1.0, 0),
 (10.0, 0.0, 5963.0, 163.0, 75.0, 0.0, 1),
 (6.0, 1.0, 5857.0, 160.0, 45.0, 0.0, 0),
 (5.0, 0.0, 5944.0, 163.0, 124.0, 0.0, 1),
 (0.0, 2.0, 5881.0, 160.0, 47.0, 1.0, 0),
 (2.0, 3.0, 5876.0, 159.0, 71.0, 1.0, 0),
 (4.0, 2.0, 5807.0, 160.0, 63.0, 2.0, 1),
 (2.0, 2.0, 6080.0, 160.0, 35.0, 2.0, 1),
 (7.0, 0.0, 5938.0, 162.0, 69.0, 0.0, 0),
 (6.0, 3.0, 5885.0, 158.0, 70.0, 2.0, 0),
 (4.0, 0.0, 6010.0, 162.0, 95.0, 0.0, 0),
 (3.0, 3.0, 5920.0, 159.0, 79.0, 1.0, 0),
 (4.0, 1.0, 6086.0, 161.0, 77.0, 1.0, 0),
 (4.0, 1.0, 6039.0, 161.0, 63.0, 1.0, 0),
 (6.0, 0.0, 5913.0, 162.0, 128.0, 0.0, 0),
 (8.0, 1.0, 5971.0, 161.0, 74.0, 0.0, 0),
 (5.0, 0.0, 5849.0, 162.0, 47.0, 0.0, 0),
 (6.0, 2.0, 5765.0, 160.0, 119.0, 1.0, 0),
 (4.0, 0.0, 6042.0, 162.0, 88.0, 0.0, 0),
 (3.0, 1.0, 5952.0, 161.0, 89.0, 0.0, 1),
 (6.0, 0.0, 5879.0, 162.0, 84.0, 0.0, 0),
 (6.0, 1.0, 5937.0, 161.0, 68.0, 1.0, 0),
 (1.0, 1.0, 6063.0, 161.0, 45.0, 1.0, 0),
 (5.0, 6.0, 5880.0, 155.0, 63.0, 2.0, 0),
 (8.0, 0.0, 5865.0, 162.0, 80.0, 0.0, 0),
 (2.0, 6.0, 5718.0, 156.0, 103.0, 5.0, 0),
 (7.0, 1.0, 6201.0, 161.0, 71.0, 1.0, 0),
 (7.0, 0.0, 5861.0, 161.0, 57.0, 0.0, 0),
 (8.0, 2.0, 5811.0, 160.0, 67.0, 1.0, 1),
 (5.0, 1.0, 5853.0, 161.0, 117.0, 1.0, 0),
 (9.0, 0.0, 5889.0, 162.0, 65.0, 0.0, 0),
 (7.0, 3.0, 5871.0, 159.0, 57.0, 1.0, 1),
 (6.0, 2.0, 5791.0, 160.0, 55.0, 2.0, 0),
 (3.0, 0.0, 5870.0, 162.0, 101.0, 0.0, 1),
 (5.0, 1.0, 5906.0, 161.0, 28.0, 0.0, 1),
 (2.0, 3.0, 5917.0, 159.0, 56.0, 3.0, 0),
 (5.0, 1.0, 5778.0, 161.0, 55.0, 1.0, 1),
 (4.0, 1.0, 5939.0, 161.0, 49.0, 1.0, 1),
 (7.0, 3.0, 6010.0, 159.0, 78.0, 1.0, 0),
 (4.0, 1.0, 5934.0, 161.0, 64.0, 0.0, 0),
 (6.0, 0.0, 5798.0, 162.0, 70.0, 0.0, 0),
 (4.0, 3.0, 5940.0, 159.0, 115.0, 2.0, 0),
 (4.0, 1.0, 6033.0, 161.0, 47.0, 0.0, 0),
 (4.0, 1.0, 5976.0, 161.0, 116.0, 1.0, 1),
 (7.0, 0.0, 5924.0, 162.0, 94.0, 0.0, 1),
 (3.0, 4.0, 5783.0, 158.0, 131.0, 1.0, 0),
 (6.0, 1.0, 5920.0, 161.0, 51.0, 0.0, 0),
 (5.0, 1.0, 5779.0, 161.0, 116.0, 1.0, 1),
 (7.0, 3.0, 5726.0, 159.0, 43.0, 3.0, 0),
 (8.0, 2.0, 5786.0, 159.0, 59.0, 2.0, 0),
 (7.0, 1.0, 5639.0, 161.0, 54.0, 1.0, 0),
 (6.0, 0.0, 5786.0, 162.0, 40.0, 0.0, 1),
 (4.0, 1.0, 5879.0, 161.0, 86.0, 0.0, 0),
 (6.0, 4.0, 5517.0, 158.0, 57.0, 3.0, 1),
 (8.0, 1.0, 5816.0, 161.0, 36.0, 1.0, 0),
 (8.0, 0.0, 5710.0, 162.0, 109.0, 0.0, 0),
 (3.0, 3.0, 5780.0, 158.0, 76.0, 1.0, 0),
 (3.0, 2.0, 5834.0, 160.0, 88.0, 1.0, 0),
 (4.0, 2.0, 5836.0, 160.0, 53.0, 0.0, 1),
 (9.0, 1.0, 5758.0, 161.0, 124.0, 0.0, 0),
 (11.0, 1.0, 5772.0, 161.0, 79.0, 0.0, 0),
 (9.0, 1.0, 5748.0, 161.0, 65.0, 0.0, 1),
 (2.0, 1.0, 5810.0, 161.0, 106.0, 0.0, 0),
 (9.0, 2.0, 5733.0, 160.0, 82.0, 1.0, 1),
 (3.0, 1.0, 5785.0, 161.0, 54.0, 0.0, 0),
 (1.0, 2.0, 5545.0, 160.0, 54.0, 1.0, 0),
 (8.0, 3.0, 5722.0, 159.0, 63.0, 2.0, 1),
 (2.0, 3.0, 5691.0, 159.0, 88.0, 3.0, 0),
 (5.0, 5.0, 5789.0, 157.0, 77.0, 4.0, 0),
 (5.0, 0.0, 5637.0, 162.0, 60.0, 0.0, 0),
 (2.0, 2.0, 5771.0, 160.0, 110.0, 2.0, 0),
 (3.0, 1.0, 5784.0, 161.0, 64.0, 0.0, 0),
 (7.0, 2.0, 5916.0, 160.0, 66.0, 2.0, 1),
 (4.0, 3.0, 5849.0, 159.0, 89.0, 1.0, 1),
 (6.0, 1.0, 5805.0, 161.0, 88.0, 0.0, 1),
 (0.0, 0.0, 5818.0, 162.0, 106.0, 0.0, 0),
 (4.0, 1.0, 5677.0, 161.0, 81.0, 1.0, 0),
 (1.0, 1.0, 5641.0, 161.0, 56.0, 0.0, 0),
 (3.0, 0.0, 5746.0, 162.0, 104.0, 0.0, 0),
 (4.0, 1.0, 5803.0, 161.0, 87.0, 1.0, 1),
 (4.0, 2.0, 5920.0, 160.0, 95.0, 1.0, 0),
 (8.0, 5.0, 5825.0, 157.0, 52.0, 2.0, 0),
 (8.0, 0.0, 5880.0, 162.0, 111.0, 0.0, 0),
 (6.0, 2.0, 5738.0, 160.0, 58.0, 1.0, 0),
 (5.0, 1.0, 5647.0, 161.0, 58.0, 1.0, 0),
 (2.0, 1.0, 5908.0, 161.0, 119.0, 0.0, 1),
 (3.0, 1.0, 5968.0, 161.0, 45.0, 1.0, 0),
 (2.0, 0.0, 5757.0, 162.0, 47.0, 0.0, 0),
 (6.0, 3.0, 5698.0, 159.0, 83.0, 1.0, 1),
 (6.0, 0.0, 5829.0, 162.0, 104.0, 0.0, 0),
 (3.0, 2.0, 5773.0, 160.0, 77.0, 2.0, 0),
 (3.0, 1.0, 5788.0, 161.0, 98.0, 1.0, 1),
 (3.0, 6.0, 5841.0, 156.0, 122.0, 1.0, 0),
 (4.0, 0.0, 5848.0, 162.0, 96.0, 0.0, 0),
 (4.0, 0.0, 5701.0, 162.0, 38.0, 0.0, 0),
 (2.0, 0.0, 5742.0, 162.0, 62.0, 0.0, 1),
 (5.0, 1.0, 5902.0, 161.0, 102.0, 1.0, 1),
 (5.0, 0.0, 5837.0, 162.0, 78.0, 0.0, 0),
 (3.0, 3.0, 5770.0, 159.0, 105.0, 1.0, 1),
 (5.0, 0.0, 5891.0, 162.0, 89.0, 0.0, 0),
 (5.0, 0.0, 5768.0, 162.0, 49.0, 0.0, 1),
 (0.0, 0.0, 5727.0, 162.0, 83.0, 0.0, 1),
 (2.0, 1.0, 5945.0, 161.0, 64.0, 0.0, 0),
 (3.0, 3.0, 6074.0, 159.0, 95.0, 1.0, 1),
 (4.0, 0.0, 5777.0, 162.0, 95.0, 0.0, 1),
 (7.0, 1.0, 5929.0, 161.0, 128.0, 1.0, 0),
 (5.0, 0.0, 5754.0, 162.0, 67.0, 0.0, 1),
 (2.0, 2.0, 5749.0, 160.0, 75.0, 0.0, 0),
 (8.0, 1.0, 5761.0, 161.0, 166.0, 1.0, 1),
 (8.0, 1.0, 5741.0, 161.0, 132.0, 1.0, 1),
 (7.0, 0.0, 5876.0, 162.0, 114.0, 0.0, 1),
 (4.0, 0.0, 5821.0, 162.0, 112.0, 0.0, 0),
 (6.0, 1.0, 5888.0, 161.0, 140.0, 1.0, 0),
 (9.0, 2.0, 5639.0, 160.0, 86.0, 0.0, 0),
 (7.0, 0.0, 5692.0, 162.0, 190.0, 0.0, 0),
 (10.0, 1.0, 5833.0, 161.0, 151.0, 0.0, 0),
 (7.0, 0.0, 5839.0, 162.0, 76.0, 0.0, 0),
 (5.0, 0.0, 5830.0, 162.0, 85.0, 0.0, 0),
 (5.0, 2.0, 5763.0, 160.0, 107.0, 2.0, 1),
 (6.0, 3.0, 5698.0, 159.0, 163.0, 0.0, 0),
 (8.0, 1.0, 5674.0, 161.0, 72.0, 1.0, 0),
 (4.0, 0.0, 5821.0, 162.0, 105.0, 0.0, 1),
 (9.0, 3.0, 5816.0, 159.0, 86.0, 1.0, 1),
 (8.0, 1.0, 5813.0, 161.0, 129.0, 1.0, 1),
 (1.0, 2.0, 5706.0, 160.0, 86.0, 2.0, 1),
 (8.0, 1.0, 5731.0, 161.0, 118.0, 0.0, 0),
 (15.0, 3.0, 5842.0, 159.0, 100.0, 3.0, 0),
 (4.0, 0.0, 5630.0, 162.0, 149.0, 0.0, 0),
 (7.0, 1.0, 5803.0, 161.0, 141.0, 1.0, 1),
 (7.0, 2.0, 5784.0, 160.0, 117.0, 2.0, 0),
 (7.0, 0.0, 5840.0, 162.0, 137.0, 0.0, 0),
 (4.0, 2.0, 5800.0, 160.0, 118.0, 1.0, 0),
 (12.0, 4.0, 6027.0, 158.0, 57.0, 2.0, 0),
 (7.0, 0.0, 5944.0, 162.0, 101.0, 0.0, 0),
 (1.0, 0.0, 5802.0, 162.0, 160.0, 0.0, 1),
 (4.0, 3.0, 5789.0, 159.0, 79.0, 1.0, 1),
 (12.0, 1.0, 5733.0, 161.0, 99.0, 1.0, 1),
 (8.0, 0.0, 5880.0, 162.0, 127.0, 0.0, 0)]

In [18]:
data_df = pd.DataFrame(data=data, columns=['BK', 'CG_y', 'Ch', 'GF', 'SB', 'cSho', 'playoffs'])
data_df

       BK  CG_y      Ch     GF     SB  cSho  playoffs
0     5.0   2.0  6150.0  160.0   79.0   1.0         0
1     8.0   2.0  5889.0  160.0   90.0   1.0         1
2     8.0   2.0  5934.0  160.0   81.0   0.0         0
3     3.0   2.0  5819.0  160.0  125.0   0.0         1
4     3.0   1.0  6208.0  162.0   66.0   0.0         1
..    ...   ...     ...    ...    ...   ...       ...
145   7.0   0.0  5944.0  162.0  101.0   0.0         0
146   1.0   0.0  5802.0  162.0  160.0   0.0         1
147   4.0   3.0  5789.0  159.0   79.0   1.0         1
148  12.0   1.0  5733.0  161.0   99.0   1.0         1
149   8.0   0.0  5880.0  162.0  127.0   0.0         0

[150 rows x 7 columns]